.stockmeister-crypto-details-chart {
    margin: 25px;
    padding-bottom: 60px;
    height: 470px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

@media screen and (max-width: 1500px) {
    .stockmeister-crypto-details-chart {
        margin: 25px;
        padding-bottom: 60px;
        height: 470px;
        border: 1px solid #bfbfbf;
        border-radius: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .stockmeister-crypto-details-chart {
        margin: 25px;
        padding-bottom: 60px;
        height: 470px;
        border: 1px solid #bfbfbf;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 750px) {
    .stockmeister-crypto-details-chart {
        margin: 25px;
        padding-bottom: 60px;
        height: 470px;
        border: 1px solid #bfbfbf;
        border-radius: 20px;
        padding-left: 1px;
        padding-right: 3px;
    }
}

.stockmeister-crypto-details-data {
    margin: 25px;
    padding-top: 5px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
}

.stockmeister-crypto-details-actions {
    margin: 15px;
    padding-bottom: 40px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
}

@media screen and (max-width: 950px) {
    .stockmeister-coin-chart-card {

    }
}

@media screen and (max-width: 750px) {
    .stockmeister-coin-chart-card {

    }
}

.stockmesiter-coin-chart-container {

}

.stockmeister-coin-chart-price {
    font-weight: bolder;
    text-align: left;
    padding: 5px;
    font-size: 30px;
}

.stockmeister-coin-chart-percent {
    font-weight: bold;
    text-align: left;
    font-size: 15px;
}

.stockmeister-coin-details-head {
    font-weight: normal;
    font-size: 15px;
}

.stockmeister-coin-details-value {
    font-size: 25px;
    font-weight: bolder;
}

.stockmeister-coin-details-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 17px;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .stockmeister-coin-details-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .stockmeister-coin-details-wrapper {
        grid-template-columns: 1fr 1fr;
        padding: 5px 20px;
    }
}
@media screen and (max-width: 491px) {
    .stockmeister-coin-details-wrapper {
        grid-template-columns: 1fr;
        padding: 5px 20px;
    }
}

.stockmeister-coin-details-card-wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}