.stockmeister-crypto-details-chart {
    margin: 15px;
    padding-bottom: 40px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
}

.stockmeister-crypto-details-data {
    margin: 15px;
    padding-bottom: 40px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
}

.stockmeister-crypto-details-actions {
    margin: 15px;
    padding-bottom: 40px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
}