.stockmeister-details-back {
    color: #ffffff;
    font-size: 26px;
}

.stockmeister-details-back-container {
    background-color: #cb0101;
    padding-top: 4px;
}

.stockmeister-details-back-container:hover {
    padding-top: 4px;
    background-color: #cb0101;
    transition: 0.2s all ease-in-out;
    padding-left: 1px;
}

.stockmeister-details-text {
    height: auto;
    font-weight: bolder;
    padding-top: 8px;
    text-align: center;
    padding-right: 70px;
}

@media screen and (min-width: 700px) {
    .stockmeister-details-text {
        height: auto;
        position: -ms-device-fixed;
        font-weight: bolder;
        padding-top: 8px;
        padding-right: 105px;
    }
}

@media screen and (min-width: 1200px) {
    .stockmeister-details-text {
        height: auto;
        position: -ms-device-fixed;
        font-weight: bolder;
        padding-top: 8px;
        padding-right: 190px;
    }
}