.stockmeister-profile-info {
    margin: 25px;
    padding-top: 5px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
}

.stockmeister-profile-info-wrapper {
    max-width: 970px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 17px;
    padding: 5px 30px 10px;
}

@media screen and (max-width: 1000px) {
    .stockmeister-profile-info-wrapper {
        padding: 5px 30px 10px;
    }
}

@media screen and (max-width: 768px) {
    .stockmeister-profile-info-wrapper {
        grid-template-columns: 1fr 1fr;
        padding: 5px 30px 10px;
    }
}
@media screen and (max-width: 491px) {
    .stockmeister-profile-info-wrapper {
        grid-template-columns: 1fr;
        padding: 5px 30px 10px;
    }
}

.stockmeister-profile-info-wrapper2 {
    max-width: 970px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 17px;
    padding: 20px 30px 20px;
}

@media screen and (max-width: 1000px) {
    .stockmeister-profile-info-wrapper2 {
        grid-template-columns: 1fr;
        padding: 10px 30px 20px;
    }
}

@media screen and (max-width: 768px) {
    .stockmeister-profile-info-wrapper2 {
        grid-template-columns: 1fr;
        padding: 10px 30px 20px;
    }
}
@media screen and (max-width: 491px) {
    .stockmeister-profile-info-wrapper2 {
        grid-template-columns: 1fr;
        padding: 10px 30px 20px;
    }
}

.stockmeister-profile-header {
    font-weight: 1000;
    font-size: 32px;
}

.stockmeister-profile-info-wrapper-head {
    max-width: 970px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 17px;
    padding: 10px 30px 20px;
}

.react-tag-input {
    border: #f6c208 1px solid;
    height: 45px;
    border-radius: 4px;
}

@media screen and (max-width: 1000px) {
    .react-tag-input {
        border: #f6c208 1px solid;
        height: 45px;
        border-radius: 4px;
    }
}

@media screen and (max-width: 768px) {
    .react-tag-input {
        border: #f6c208 1px solid;
        height: 100px;
        border-radius: 4px;
    }
}

@media screen and (max-width: 491px) {
    .react-tag-input {
        border: #f6c208 1px solid;
        height: 150px;
        border-radius: 4px;
    }
}

.react-tag-input__tag {
    background: #f69d52;
    height: 34px;
}

.react-tag-input__tag__remove {
    background: #f69d52;
}

