.stockmeister-services-container {
    height: 750px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #010606;
}

@media screen and (max-width: 768px) {
    .stockmeister-services-container {
        height: 1350px;
    }
}

@media screen and (max-width: 480px) {
    .stockmeister-services-container {
        height: 1450px;
    }
}

.stockmeister-services-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 17px;
    padding: 0 50px;
}

@media screen and (max-width: 1000px) {
    .stockmeister-services-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .stockmeister-services-wrapper {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}

.stockmeister-services-card {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    max-height: 340px;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.stockmeister-services-card:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.stockmeister-services-title {
    font-size: 2.5rem;
    color: #f69d52;
    margin-bottom: 64px;
    text-align: center;
    cursor: default;
}

@media screen and (max-width: 480px) {
    .stockmeister-services-title {
        font-size: 2rem;
    }
}

.stockmeister-services-card-header {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.stockmeister-services-card-subtext {
    font-size: 1rem;
    text-align: center;
}
