.stockmeister-nav {
    background: #000;
    height: 80px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

@media screen and (max-width : 960px) {
    .stockmeister-nav{
        transition : 0.8s all ease;
    }
}

.stockmesiter-fa-bars {
    color: #fff;
}

.stockmesiter-fa-bars:hover {
    color: #f69d52;
}

.stockmeister-navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 5px;
    max-width: 1200px;
}

.stockmeister-nav-logo {
    color: #fff;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
}

.stockmeister-nav-logo:hover {
    color: #f69d52;
}

.stockmeister-mobile-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .stockmeister-mobile-icon {
        display: block;
        position: absolute;
        top: -8px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}

.stockmesiter-nav-item {
    align-items: center;
    height: 80px;
}

.stockmesiter-nav-item:hover {
    text-decoration: underline #f69d52;
    text-underline-offset: 33px;
}

.stockmesiter-nav-item:active {
    text-decoration: underline #f69d52;
    text-underline-offset: 33px;
}

.stockmeister-link-scroll {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.stockmeister-link-scroll:hover {
    color: #f69d52;
}

.stockmeister-nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: -22px;
}

@media screen and (max-width: 768px) {
    .stockmeister-nav-menu {
        display: none;
    }
}

.stockmesiter-nav-login {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .stockmesiter-nav-login {
        display: none;
    }
}

.stockmeister-link-route-login {
    height: 56%;
    margin-right: 10px;
    border-radius: 60px;
    background: #f69d52;
    white-space: nowrap;
    padding: 9px 22px;
    color: #010606;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.stockmeister-link-route-login:hover {
    transition: all 0.3s ease-in-out;
    background: #fff;
    color: #010606;
}

@media screen and (max-width: 768px) {
    .stockmesiter-nav-register {
        display: none;
    }
}

.stockmeister-link-route-register {
    height: 52%;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.stockmeister-link-route-register:hover {
    color: #f69d52;
}

.stockmeister-nav-simple {
    background: #000;
    height: 80px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

