.stockmeister-register-container {
    min-height: 690px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(
            108deg,
            rgb(239, 162, 91) 0%,
            rgb(255, 255, 255) 100%
    );
}

@media screen and (max-width: 400px) {
    .stockmeister-register-container {
        min-height: 1500px;
    }
}

.stockmeister-form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 400px){
    .stockmeister-form-wrapper {
        height: 45%;
    }
}

.stockmeister-form-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .stockmeister-form-content {
        padding: 10px;
    }
}

.stockmeister-form {
    background: #010101;
    max-width: 400px;
    height: auto;
    width: 100%;
    z-index: 1;
    display: grid;
    margin: 0 auto;
    padding: 40px 32px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 400px) {
    .stockmeister-form {
        padding: 30px 32px;
    }
}

.stockmeister-form-label {
    margin-bottom: 3px;
    font-size: 15px;
    color: #fff;
}

.stockmeister-form-input {
    padding: 6px 16px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}

.stockmeister-register-btn {
    margin: 5px 0;
    background: #f69d52;
    padding: 8px 0;
    border: none;
    border-radius: 40px;
    color: #010101;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.stockmeister-register-btn:hover {
    transition: all 0.3s ease-in-out;
    background: #fff;
    color: #010606;
}

.stockmeister-register-google-btn {
    margin: 5px 0;
    background: #ffffff;
    padding: 8px 0;
    border: none;
    border-radius: 40px;
    color: #000000;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.stockmeister-register-google-btn:hover {
    transition: all 0.3s ease-in-out;
    background: #77cdff;
    color: #010606;
}

.stockmeister-forgot-text {
    text-align: center;
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
}

.stockmeister-forgot-text:hover {
    color: #f69d52;
}

.stockmeister-register-text {
    text-align: center;
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
}

.stockmeister-register-text:hover {
    color: #f69d52;
}

.stockmeister-checkbox-stocks {
    color: #fff;
    margin-bottom: 5px;
}

.stockmeister-checkbox {
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
}

.stockmeister-register-name-wrapper {
    justify-content: center;
}
