.stockmeister-coin-container {
    display: flex;
    justify-content: left;
}

.stockmeister-coin-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid #f69d52;
    width: 900px;
}

.stockmeister-coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.stockmeister-coin h1 {
    font-size: 16px;
    width: 300px;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .stockmeister-coin h1 {
        display: none;
    }
}

.stockmeister-coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.stockmeister-coin-symbol {
    text-transform: uppercase;
}

.stockmeister-coin-data {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.stockmeister-coin-price {
    width: 120px;
}

.stockmeister-coin-volume {
    width: 200px;
}

@media screen and (max-width: 700px) {
    .stockmeister-coin-volume{
        width: 1px;
        display: none;
    }
}

.stockmeister-coin-percent {
    width: 50px;
}

.stockmeister-coin-marketcap {
    width: 240px;
}

@media screen and (max-width: 700px) {
    .stockmeister-coin-marketcap {
        display: none;
    }
}