.stockmeister-user-info-wrapper {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 17px;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .stockmeister-user-info-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .stockmeister-user-info-wrapper {
        grid-template-columns: 1fr;
        padding: 5px 20px;
    }
}
@media screen and (max-width: 491px) {
    .stockmeister-user-info-wrapper {
        grid-template-columns: 1fr;
        padding: 5px 20px;
    }
}

.stockmeister-user-info-card-wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.stockmeister-user-info-container {
    margin: 25px;
    padding-bottom: 60px;
    height: 240px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    padding-left: 200px;
    padding-right: 200px;
}
.stockmeister-user-info {
    margin: 25px;
    padding-top: 5px;
    border: 1px solid #bfbfbf;
    border-radius: 20px;
}

.stockmeister-user-details-wrapper {
    max-width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 17px;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .stockmeister-user-details-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .stockmeister-user-details-wrapper {
        grid-template-columns: 1fr 1fr;
        padding: 5px 20px;
    }
}
@media screen and (max-width: 491px) {
    .stockmeister-user-details-wrapper {
        grid-template-columns: 1fr;
        padding: 5px 20px;
    }
}